In [160]:
#IMPORTING THE DATA CLEANING LIBRARIES FOR PYTHON
import numpy as np
import pandas as pd 
import matplotlib.pyplot as plt
#Loading the dataset to be cleaned
fifa_data =  pd.read_csv("C:/Users/ayoki/OneDrive/Desktop/fifa21 raw data v2.csv", low_memory = False)
fifa_data.head(5)

,ID,Name,LongName,photoUrl,playerUrl,Nationality,Age,↓OVA,POT,Club,...,A/W,D/W,IR,PAC,SHO,PAS,DRI,DEF,PHY,Hits
0,158023,L. Messi,Lionel Messi,https://cdn.sofifa.com/players/158/023/21_60.png,http://sofifa.com/player/158023/lionel-messi/2...,Argentina,33,93,93,\n\n\n\nFC Barcelona,...,Medium,Low,5 ★,85,92,91,95,38,65,771
1,20801,Cristiano Ronaldo,C. Ronaldo dos Santos Aveiro,https://cdn.sofifa.com/players/020/801/21_60.png,http://sofifa.com/player/20801/c-ronaldo-dos-s...,Portugal,35,92,92,\n\n\n\nJuventus,...,High,Low,5 ★,89,93,81,89,35,77,562
2,200389,J. Oblak,Jan Oblak,https://cdn.sofifa.com/players/200/389/21_60.png,http://sofifa.com/player/200389/jan-oblak/210006/,Slovenia,27,91,93,\n\n\n\nAtlético Madrid,...,Medium,Medium,3 ★,87,92,78,90,52,90,150
3,192985,K. De Bruyne,Kevin De Bruyne,https://cdn.sofifa.com/players/192/985/21_60.png,http://sofifa.com/player/192985/kevin-de-bruyn...,Belgium,29,91,91,\n\n\n\nManchester City,...,High,High,4 ★,76,86,93,88,64,78,207
4,190871,Neymar Jr,Neymar da Silva Santos Jr.,https://cdn.sofifa.com/players/190/871/21_60.png,http://sofifa.com/player/190871/neymar-da-silv...,Brazil,28,91,91,\n\n\n\nParis Saint-Germain,...,High,Medium,5 ★,91,85,86,94,36,59,595

In [161]:
#GETTING INFORMATION ON THE DATASET
fifa_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18979 entries, 0 to 18978
Data columns (total 77 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   ID                18979 non-null  int64
 1   Name              18979 non-null  object
 2   LongName          18979 non-null  object
 3   photoUrl          18979 non-null  object
 4   playerUrl         18979 non-null  object
 5   Nationality       18979 non-null  object
 6   Age               18979 non-null  int64
 7   ↓OVA              18979 non-null  int64
 8   POT               18979 non-null  int64
 9   Club              18979 non-null  object
 10  Contract          18979 non-null  object
 11  Positions         18979 non-null  object
 12  Height            18979 non-null  object
 13  Weight            18979 non-null  object
 14  Preferred Foot    18979 non-null  object
 15  BOV               18979 non-null  int64
 16  Best Position     18979 non-null  object
 17  Joined            18979 non-null  object
 18  Loan Date End     1013 non-null   object
 19  Value             18979 non-null  object
 20  Wage              18979 non-null  object
 21  Release Clause    18979 non-null  object
 22  Attacking         18979 non-null  int64
 23  Crossing          18979 non-null  int64
 24  Finishing         18979 non-null  int64
 25  Heading Accuracy  18979 non-null  int64
 26  Short Passing     18979 non-null  int64
 27  Volleys           18979 non-null  int64
 28  Skill             18979 non-null  int64
 29  Dribbling         18979 non-null  int64
 30  Curve             18979 non-null  int64
 31  FK Accuracy       18979 non-null  int64
 32  Long Passing      18979 non-null  int64
 33  Ball Control      18979 non-null  int64
 34  Movement          18979 non-null  int64
 35  Acceleration      18979 non-null  int64
 36  Sprint Speed      18979 non-null  int64
 37  Agility           18979 non-null  int64
 38  Reactions         18979 non-null  int64
 39  Balance           18979 non-null  int64
 40  Power             18979 non-null  int64
 41  Shot Power        18979 non-null  int64
 42  Jumping           18979 non-null  int64
 43  Stamina           18979 non-null  int64
 44  Strength          18979 non-null  int64
 45  Long Shots        18979 non-null  int64
 46  Mentality         18979 non-null  int64
 47  Aggression        18979 non-null  int64
 48  Interceptions     18979 non-null  int64
 49  Positioning       18979 non-null  int64
 50  Vision            18979 non-null  int64
 51  Penalties         18979 non-null  int64
 52  Composure         18979 non-null  int64
 53  Defending         18979 non-null  int64
 54  Marking           18979 non-null  int64
 55  Standing Tackle   18979 non-null  int64
 56  Sliding Tackle    18979 non-null  int64
 57  Goalkeeping       18979 non-null  int64
 58  GK Diving         18979 non-null  int64
 59  GK Handling       18979 non-null  int64
 60  GK Kicking        18979 non-null  int64
 61  GK Positioning    18979 non-null  int64
 62  GK Reflexes       18979 non-null  int64
 63  Total Stats       18979 non-null  int64
 64  Base Stats        18979 non-null  int64
 65  W/F               18979 non-null  object
 66  SM                18979 non-null  object
 67  A/W               18979 non-null  object
 68  D/W               18979 non-null  object
 69  IR                18979 non-null  object
 70  PAC               18979 non-null  int64
 71  SHO               18979 non-null  int64
 72  PAS               18979 non-null  int64
 73  DRI               18979 non-null  int64
 74  DEF               18979 non-null  int64
 75  PHY               18979 non-null  int64
 76  Hits              16384 non-null  object
dtypes: int64(54), object(23)
memory usage: 11.1+ MB

In [162]:
#Finding the unique values in the name colum
fifa_data.Name.unique()

array(['L. Messi', 'Cristiano Ronaldo', 'J. Oblak', ..., 'R. McKinley',
       "Wang Zhen'ao", 'Zhou Xiao'], dtype=object)

In [163]:
#Renaming the column LongName as GovernmentName
fifa = fifa_data.rename(columns={'LongName':'GovernmentName'})

In [164]:
#DROPPING SOME COLUMNS IN THE DATASET
fifa.drop(fifa.columns [[3,4,18]],axis = 1,inplace = True)
fifa

,ID,Name,GovernmentName,Nationality,Age,↓OVA,POT,Club,Contract,Positions,...,A/W,D/W,IR,PAC,SHO,PAS,DRI,DEF,PHY,Hits
0,158023,L. Messi,Lionel Messi,Argentina,33,93,93,\n\n\n\nFC Barcelona,2004 ~ 2021,"RW, ST, CF",...,Medium,Low,5 ★,85,92,91,95,38,65,771
1,20801,Cristiano Ronaldo,C. Ronaldo dos Santos Aveiro,Portugal,35,92,92,\n\n\n\nJuventus,2018 ~ 2022,"ST, LW",...,High,Low,5 ★,89,93,81,89,35,77,562
2,200389,J. Oblak,Jan Oblak,Slovenia,27,91,93,\n\n\n\nAtlético Madrid,2014 ~ 2023,GK,...,Medium,Medium,3 ★,87,92,78,90,52,90,150
3,192985,K. De Bruyne,Kevin De Bruyne,Belgium,29,91,91,\n\n\n\nManchester City,2015 ~ 2023,"CAM, CM",...,High,High,4 ★,76,86,93,88,64,78,207
4,190871,Neymar Jr,Neymar da Silva Santos Jr.,Brazil,28,91,91,\n\n\n\nParis Saint-Germain,2017 ~ 2022,"LW, CAM",...,High,Medium,5 ★,91,85,86,94,36,59,595
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18974,247223,Xia Ao,Ao Xia,China PR,21,47,55,\n\n\n\nWuhan Zall,2018 ~ 2022,CB,...,Medium,Medium,1 ★,64,28,26,38,48,51,NaN
18975,258760,B. Hough,Ben Hough,England,17,47,67,\n\n\n\nOldham Athletic,2020 ~ 2021,CM,...,Medium,Medium,1 ★,64,40,48,49,35,45,NaN
18976,252757,R. McKinley,Ronan McKinley,England,18,47,65,\n\n\n\nDerry City,2019 ~ 2020,CM,...,Medium,Medium,1 ★,63,39,44,46,40,53,NaN
18977,243790,Wang Zhen'ao,Zhen'ao Wang,China PR,20,47,57,\n\n\n\nDalian YiFang FC,2020 ~ 2022,RW,...,Medium,Medium,1 ★,58,49,41,49,30,44,NaN
18978,252520,Zhou Xiao,Xiao Zhou,China PR,21,47,57,\n\n\n\nDalian YiFang FC,2019 ~ 2023,"CB, LB",...,Medium,Medium,1 ★,62,22,39,42,45,55,NaN

In [165]:
#When I do df.isnull().sum(), I get the count of null values in a column
fifa.isnull().sum()

ID                   0
Name                 0
GovernmentName       0
Nationality          0
Age                  0
                  ...
PAS                  0
DRI                  0
DEF                  0
PHY                  0
Hits              2595
Length: 74, dtype: int64

In [166]:
#The Hits column has some null values so we fill it up with zeros and we simply cannot drop the column in this analysis
fifa.Hits = fifa.Hits.fillna('0')
fifa.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18979 entries, 0 to 18978
Data columns (total 74 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   ID                18979 non-null  int64
 1   Name              18979 non-null  object
 2   GovernmentName    18979 non-null  object
 3   Nationality       18979 non-null  object
 4   Age               18979 non-null  int64
 5   ↓OVA              18979 non-null  int64
 6   POT               18979 non-null  int64
 7   Club              18979 non-null  object
 8   Contract          18979 non-null  object
 9   Positions         18979 non-null  object
 10  Height            18979 non-null  object
 11  Weight            18979 non-null  object
 12  Preferred Foot    18979 non-null  object
 13  BOV               18979 non-null  int64
 14  Best Position     18979 non-null  object
 15  Joined            18979 non-null  object
 16  Value             18979 non-null  object
 17  Wage              18979 non-null  object
 18  Release Clause    18979 non-null  object
 19  Attacking         18979 non-null  int64
 20  Crossing          18979 non-null  int64
 21  Finishing         18979 non-null  int64
 22  Heading Accuracy  18979 non-null  int64
 23  Short Passing     18979 non-null  int64
 24  Volleys           18979 non-null  int64
 25  Skill             18979 non-null  int64
 26  Dribbling         18979 non-null  int64
 27  Curve             18979 non-null  int64
 28  FK Accuracy       18979 non-null  int64
 29  Long Passing      18979 non-null  int64
 30  Ball Control      18979 non-null  int64
 31  Movement          18979 non-null  int64
 32  Acceleration      18979 non-null  int64
 33  Sprint Speed      18979 non-null  int64
 34  Agility           18979 non-null  int64
 35  Reactions         18979 non-null  int64
 36  Balance           18979 non-null  int64
 37  Power             18979 non-null  int64
 38  Shot Power        18979 non-null  int64
 39  Jumping           18979 non-null  int64
 40  Stamina           18979 non-null  int64
 41  Strength          18979 non-null  int64
 42  Long Shots        18979 non-null  int64
 43  Mentality         18979 non-null  int64
 44  Aggression        18979 non-null  int64
 45  Interceptions     18979 non-null  int64
 46  Positioning       18979 non-null  int64
 47  Vision            18979 non-null  int64
 48  Penalties         18979 non-null  int64
 49  Composure         18979 non-null  int64
 50  Defending         18979 non-null  int64
 51  Marking           18979 non-null  int64
 52  Standing Tackle   18979 non-null  int64
 53  Sliding Tackle    18979 non-null  int64
 54  Goalkeeping       18979 non-null  int64
 55  GK Diving         18979 non-null  int64
 56  GK Handling       18979 non-null  int64
 57  GK Kicking        18979 non-null  int64
 58  GK Positioning    18979 non-null  int64
 59  GK Reflexes       18979 non-null  int64
 60  Total Stats       18979 non-null  int64
 61  Base Stats        18979 non-null  int64
 62  W/F               18979 non-null  object
 63  SM                18979 non-null  object
 64  A/W               18979 non-null  object
 65  D/W               18979 non-null  object
 66  IR                18979 non-null  object
 67  PAC               18979 non-null  int64
 68  SHO               18979 non-null  int64
 69  PAS               18979 non-null  int64
 70  DRI               18979 non-null  int64
 71  DEF               18979 non-null  int64
 72  PHY               18979 non-null  int64
 73  Hits              18979 non-null  object
dtypes: int64(54), object(20)
memory usage: 10.7+ MB

In [167]:
#WORKING ON THE JOINED COLUMN
from datetime import datetime
fifa['Joined']

0         Jul 1, 2004
1        Jul 10, 2018
2        Jul 16, 2014
3        Aug 30, 2015
4         Aug 3, 2017
             ...
18974    Jul 13, 2018
18975     Aug 1, 2020
18976     Mar 8, 2019
18977    Sep 22, 2020
18978    Jul 29, 2019
Name: Joined, Length: 18979, dtype: object

In [168]:
#using function 'replace_date_column' and datetime to seperate one column into three 
def replace_date_column(fifa, Joined):
    fifa = fifa.assign(Year=pd.to_datetime(fifa[Joined]).dt.year,
                   Month=pd.to_datetime(fifa[Joined]).dt.month,
                   Day=pd.to_datetime(fifa[Joined]).dt.day)
    fifa.drop(columns=[Joined], inplace=True)
    return fifa

In [169]:
fifa = replace_date_column(fifa, 'Joined')
print(fifa)

           ID               Name                GovernmentName Nationality  \
0      158023           L. Messi                  Lionel Messi   Argentina
1       20801  Cristiano Ronaldo  C. Ronaldo dos Santos Aveiro    Portugal
2      200389           J. Oblak                     Jan Oblak    Slovenia
3      192985       K. De Bruyne               Kevin De Bruyne     Belgium
4      190871          Neymar Jr    Neymar da Silva Santos Jr.      Brazil
...       ...                ...                           ...         ...
18974  247223             Xia Ao                        Ao Xia    China PR
18975  258760           B. Hough                     Ben Hough     England
18976  252757        R. McKinley                Ronan McKinley     England
18977  243790       Wang Zhen'ao                  Zhen'ao Wang    China PR
18978  252520          Zhou Xiao                     Xiao Zhou    China PR

       Age  ↓OVA  POT                         Club     Contract   Positions  \
0       33    93   93         \n\n\n\nFC Barcelona  2004 ~ 2021  RW, ST, CF
1       35    92   92             \n\n\n\nJuventus  2018 ~ 2022      ST, LW
2       27    91   93      \n\n\n\nAtlético Madrid  2014 ~ 2023          GK
3       29    91   91      \n\n\n\nManchester City  2015 ~ 2023     CAM, CM
4       28    91   91  \n\n\n\nParis Saint-Germain  2017 ~ 2022     LW, CAM
...    ...   ...  ...                          ...          ...         ...
18974   21    47   55           \n\n\n\nWuhan Zall  2018 ~ 2022          CB
18975   17    47   67      \n\n\n\nOldham Athletic  2020 ~ 2021          CM
18976   18    47   65           \n\n\n\nDerry City  2019 ~ 2020          CM
18977   20    47   57     \n\n\n\nDalian YiFang FC  2020 ~ 2022          RW
18978   21    47   57     \n\n\n\nDalian YiFang FC  2019 ~ 2023      CB, LB

       ... PAC SHO PAS  DRI DEF PHY Hits  Year  Month  Day
0      ...  85  92  91   95  38  65  771  2004      7    1
1      ...  89  93  81   89  35  77  562  2018      7   10
2      ...  87  92  78   90  52  90  150  2014      7   16
3      ...  76  86  93   88  64  78  207  2015      8   30
4      ...  91  85  86   94  36  59  595  2017      8    3
...    ...  ..  ..  ..  ...  ..  ..  ...   ...    ...  ...
18974  ...  64  28  26   38  48  51    0  2018      7   13
18975  ...  64  40  48   49  35  45    0  2020      8    1
18976  ...  63  39  44   46  40  53    0  2019      3    8
18977  ...  58  49  41   49  30  44    0  2020      9   22
18978  ...  62  22  39   42  45  55    0  2019      7   29

[18979 rows x 76 columns]

In [170]:
fifa.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18979 entries, 0 to 18978
Data columns (total 76 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   ID                18979 non-null  int64
 1   Name              18979 non-null  object
 2   GovernmentName    18979 non-null  object
 3   Nationality       18979 non-null  object
 4   Age               18979 non-null  int64
 5   ↓OVA              18979 non-null  int64
 6   POT               18979 non-null  int64
 7   Club              18979 non-null  object
 8   Contract          18979 non-null  object
 9   Positions         18979 non-null  object
 10  Height            18979 non-null  object
 11  Weight            18979 non-null  object
 12  Preferred Foot    18979 non-null  object
 13  BOV               18979 non-null  int64
 14  Best Position     18979 non-null  object
 15  Value             18979 non-null  object
 16  Wage              18979 non-null  object
 17  Release Clause    18979 non-null  object
 18  Attacking         18979 non-null  int64
 19  Crossing          18979 non-null  int64
 20  Finishing         18979 non-null  int64
 21  Heading Accuracy  18979 non-null  int64
 22  Short Passing     18979 non-null  int64
 23  Volleys           18979 non-null  int64
 24  Skill             18979 non-null  int64
 25  Dribbling         18979 non-null  int64
 26  Curve             18979 non-null  int64
 27  FK Accuracy       18979 non-null  int64
 28  Long Passing      18979 non-null  int64
 29  Ball Control      18979 non-null  int64
 30  Movement          18979 non-null  int64
 31  Acceleration      18979 non-null  int64
 32  Sprint Speed      18979 non-null  int64
 33  Agility           18979 non-null  int64
 34  Reactions         18979 non-null  int64
 35  Balance           18979 non-null  int64
 36  Power             18979 non-null  int64
 37  Shot Power        18979 non-null  int64
 38  Jumping           18979 non-null  int64
 39  Stamina           18979 non-null  int64
 40  Strength          18979 non-null  int64
 41  Long Shots        18979 non-null  int64
 42  Mentality         18979 non-null  int64
 43  Aggression        18979 non-null  int64
 44  Interceptions     18979 non-null  int64
 45  Positioning       18979 non-null  int64
 46  Vision            18979 non-null  int64
 47  Penalties         18979 non-null  int64
 48  Composure         18979 non-null  int64
 49  Defending         18979 non-null  int64
 50  Marking           18979 non-null  int64
 51  Standing Tackle   18979 non-null  int64
 52  Sliding Tackle    18979 non-null  int64
 53  Goalkeeping       18979 non-null  int64
 54  GK Diving         18979 non-null  int64
 55  GK Handling       18979 non-null  int64
 56  GK Kicking        18979 non-null  int64
 57  GK Positioning    18979 non-null  int64
 58  GK Reflexes       18979 non-null  int64
 59  Total Stats       18979 non-null  int64
 60  Base Stats        18979 non-null  int64
 61  W/F               18979 non-null  object
 62  SM                18979 non-null  object
 63  A/W               18979 non-null  object
 64  D/W               18979 non-null  object
 65  IR                18979 non-null  object
 66  PAC               18979 non-null  int64
 67  SHO               18979 non-null  int64
 68  PAS               18979 non-null  int64
 69  DRI               18979 non-null  int64
 70  DEF               18979 non-null  int64
 71  PHY               18979 non-null  int64
 72  Hits              18979 non-null  object
 73  Year              18979 non-null  int64
 74  Month             18979 non-null  int64
 75  Day               18979 non-null  int64
dtypes: int64(57), object(19)
memory usage: 11.0+ MB

In [171]:
#TO ENSURE CONSISTENCY IN NAMING, OVA IS REMANED
fifa = fifa.rename(columns = {'↓OVA': 'OVA'})
#Cleaning up the club dataset
fifa['Club']= fifa['Club'].str.replace('\n\n\n\n','')
fifa.tail(6)

,ID,Name,GovernmentName,Nationality,Age,OVA,POT,Club,Contract,Positions,...,PAC,SHO,PAS,DRI,DEF,PHY,Hits,Year,Month,Day
18973,258736,V. Da Silva,Vani Da Silva,England,17,47,67,Oldham Athletic,2020 ~ 2021,ST,...,70,46,40,53,16,40,0,2020,8,1
18974,247223,Xia Ao,Ao Xia,China PR,21,47,55,Wuhan Zall,2018 ~ 2022,CB,...,64,28,26,38,48,51,0,2018,7,13
18975,258760,B. Hough,Ben Hough,England,17,47,67,Oldham Athletic,2020 ~ 2021,CM,...,64,40,48,49,35,45,0,2020,8,1
18976,252757,R. McKinley,Ronan McKinley,England,18,47,65,Derry City,2019 ~ 2020,CM,...,63,39,44,46,40,53,0,2019,3,8
18977,243790,Wang Zhen'ao,Zhen'ao Wang,China PR,20,47,57,Dalian YiFang FC,2020 ~ 2022,RW,...,58,49,41,49,30,44,0,2020,9,22
18978,252520,Zhou Xiao,Xiao Zhou,China PR,21,47,57,Dalian YiFang FC,2019 ~ 2023,"CB, LB",...,62,22,39,42,45,55,0,2019,7,29

In [172]:
#The next Column to clean is the contract. list of unique contracts
fifa.Contract.unique()

array(['2004 ~ 2021', '2018 ~ 2022', '2014 ~ 2023', '2015 ~ 2023',
       '2017 ~ 2022', '2017 ~ 2023', '2018 ~ 2024', '2014 ~ 2022',
       '2018 ~ 2023', '2016 ~ 2023', '2013 ~ 2023', '2011 ~ 2023',
       '2009 ~ 2022', '2005 ~ 2021', '2011 ~ 2021', '2015 ~ 2022',
       '2017 ~ 2024', '2010 ~ 2024', '2012 ~ 2021', '2019 ~ 2024',
       '2015 ~ 2024', '2017 ~ 2025', '2020 ~ 2025', '2019 ~ 2023',
       '2008 ~ 2023', '2015 ~ 2021', '2020 ~ 2022', '2012 ~ 2022',
       '2016 ~ 2025', '2013 ~ 2022', '2011 ~ 2022', '2012 ~ 2024',
       '2016 ~ 2021', '2012 ~ 2023', '2008 ~ 2022', '2019 ~ 2022',
       '2017 ~ 2021', '2013 ~ 2024', '2020 ~ 2024', '2010 ~ 2022',
       '2020 ~ 2021', '2011 ~ 2024', '2020 ~ 2023', '2014 ~ 2024',
       '2013 ~ 2026', '2016 ~ 2022', '2010 ~ 2021', '2013 ~ 2021',
       '2019 ~ 2025', '2018 ~ 2025', '2016 ~ 2024', '2018 ~ 2021',
       '2009 ~ 2024', '2007 ~ 2022', 'Jun 30, 2021 On Loan',
       '2009 ~ 2021', '2019 ~ 2021', '2019 ~ 2026', 'Free', '2012 ~ 2028',
       '2010 ~ 2023', '2014 ~ 2021', '2015 ~ 2025', '2014 ~ 2026',
       '2012 ~ 2025', '2017 ~ 2020', '2002 ~ 2022', '2020 ~ 2027',
       '2013 ~ 2025', 'Dec 31, 2020 On Loan', '2019 ~ 2020',
       '2011 ~ 2025', '2016 ~ 2020', '2007 ~ 2021', '2020 ~ 2026',
       '2010 ~ 2025', '2009 ~ 2023', '2008 ~ 2021', '2020 ~ 2020',
       '2016 ~ 2026', 'Jan 30, 2021 On Loan', '2012 ~ 2020',
       '2014 ~ 2025', 'Jun 30, 2022 On Loan', '2015 ~ 2020',
       'May 31, 2021 On Loan', '2018 ~ 2020', '2014 ~ 2020',
       '2013 ~ 2020', '2006 ~ 2024', 'Jul 5, 2021 On Loan',
       'Dec 31, 2021 On Loan', '2004 ~ 2025', '2011 ~ 2020',
       'Jul 1, 2021 On Loan', 'Jan 1, 2021 On Loan', '2006 ~ 2023',
       'Aug 31, 2021 On Loan', '2006 ~ 2021', '2005 ~ 2023',
       '2003 ~ 2020', '2009 ~ 2020', '2002 ~ 2020', '2005 ~ 2020',
       '2005 ~ 2022', 'Jan 31, 2021 On Loan', '2010 ~ 2020',
       'Dec 30, 2021 On Loan', '2008 ~ 2020', '2007 ~ 2020',
       '2003 ~ 2021', 'Jun 23, 2021 On Loan', 'Jan 3, 2021 On Loan',
       'Nov 27, 2021 On Loan', '2002 ~ 2021', 'Jan 17, 2021 On Loan',
       'Jun 30, 2023 On Loan', '1998 ~ 2021', '2003 ~ 2022',
       '2007 ~ 2023', 'Jul 31, 2021 On Loan', 'Nov 22, 2020 On Loan',
       'May 31, 2022 On Loan', '2006 ~ 2020', 'Dec 30, 2020 On Loan',
       '2007 ~ 2025', 'Jan 4, 2021 On Loan', 'Nov 30, 2020 On Loan',
       '2004 ~ 2020', '2009 ~ 2025', 'Aug 1, 2021 On Loan'], dtype=object)

In [173]:
# define a function to change the values with 'on loan' as an "On loan" category
# define the players with active loans as Active and they can be located easily cause they contain '~'
def contract(a):
    if "On Loan" in a:
        a = 'ON LOAN'
        return a
    elif '~' in a:
        a = 'ACTIVE'
        return a
    elif 'Free' in a:
        a = "FREE"
        return a

In [174]:
fifa.Contract = fifa.Contract.apply(contract)
fifa.Contract = fifa.Contract.astype('category')
# Rename the column to Contract status
fifa = fifa.rename(columns={'Contract':'ContractStatus'})
fifa.head()

,ID,Name,GovernmentName,Nationality,Age,OVA,POT,Club,ContractStatus,Positions,...,PAC,SHO,PAS,DRI,DEF,PHY,Hits,Year,Month,Day
0,158023,L. Messi,Lionel Messi,Argentina,33,93,93,FC Barcelona,ACTIVE,"RW, ST, CF",...,85,92,91,95,38,65,771,2004,7,1
1,20801,Cristiano Ronaldo,C. Ronaldo dos Santos Aveiro,Portugal,35,92,92,Juventus,ACTIVE,"ST, LW",...,89,93,81,89,35,77,562,2018,7,10
2,200389,J. Oblak,Jan Oblak,Slovenia,27,91,93,Atlético Madrid,ACTIVE,GK,...,87,92,78,90,52,90,150,2014,7,16
3,192985,K. De Bruyne,Kevin De Bruyne,Belgium,29,91,91,Manchester City,ACTIVE,"CAM, CM",...,76,86,93,88,64,78,207,2015,8,30
4,190871,Neymar Jr,Neymar da Silva Santos Jr.,Brazil,28,91,91,Paris Saint-Germain,ACTIVE,"LW, CAM",...,91,85,86,94,36,59,595,2017,8,3

In [175]:
#The next step is to clean the Height and Weight columns as they are both cast as an object type
fifa.Height.unique()
#from the data, we have "cm" and also 'feet/inches'

array(['170cm', '187cm', '188cm', '181cm', '175cm', '184cm', '191cm',
       '178cm', '193cm', '185cm', '199cm', '173cm', '168cm', '176cm',
       '177cm', '183cm', '180cm', '189cm', '179cm', '195cm', '172cm',
       '182cm', '186cm', '192cm', '165cm', '194cm', '167cm', '196cm',
       '163cm', '190cm', '174cm', '169cm', '171cm', '197cm', '200cm',
       '166cm', '6\'2"', '164cm', '198cm', '6\'3"', '6\'5"', '5\'11"',
       '6\'4"', '6\'1"', '6\'0"', '5\'10"', '5\'9"', '5\'6"', '5\'7"',
       '5\'4"', '201cm', '158cm', '162cm', '161cm', '160cm', '203cm',
       '157cm', '156cm', '202cm', '159cm', '206cm', '155cm'], dtype=object)

In [176]:
def convert_height(x):
    if x[-1] == '"':
        x = x.replace("\"","") # Remove the inch symbol (")
        inch = int(x[2:]) * 2.54 # Convert inches to centimeters
        foot = int(x[0]) * 30.48  # Convert feet to centimeters
        return round(foot+inch) # Return the total height in centimeters
    elif x[-1] == "m":
        return int(x[:-2])  # Remove the "m" symbol and return the height in centimeters

In [177]:
fifa.Height = fifa.Height.apply(convert_height)
fifa.Height.unique()

array([170, 187, 188, 181, 175, 184, 191, 178, 193, 185, 199, 173, 168,
       176, 177, 183, 180, 189, 179, 195, 172, 182, 186, 192, 165, 194,
       167, 196, 163, 190, 174, 169, 171, 197, 200, 166, 164, 198, 201,
       158, 162, 161, 160, 203, 157, 156, 202, 159, 206, 155], dtype=int64)